<div ng-controller="Our.Umbraco.NuGetPackageDashboard.DashboardController" class="npd--dashboard">
    <div class="umb-property" property="property">
        <div class="control-group umb-control-group hidelabel">
            <div class="umb-el-wrap">
                <div class="controls controls-row">
                    <div class="umb-editor umb-listview">
                        <div class="alert alert-error" ng-show="dashboardException">
                            <h4>{{dashboardException.Title}}</h4>
                            <p>{{dashboardException.Message}}</p>
                        </div>
                        <div class="row-fluid" ng-hide="dashboardException">

                            <div class="umb-editor-sub-header">
                                <div class="umb-editor-sub-header__content-left">
                                    <div class="umb-editor-sub-header__section">
                                        <strong>Showing {{items.length}} of {{totalItems.length}} packages</strong>
                                    </div>
                                </div>
                                <div class="umb-editor-sub-header__content-right">
                                    <div class="umb-editor-sub-header__section">
                                        <form class="form-search -no-margin-bottom pull-right" novalidate="">
                                            <div class="inner-addon left-addon">
                                                <i class="icon icon-search" ng-click="enterSearch($event)"></i>
                                                <input class="form-control search-input ng-pristine ng-valid" type="text" localize="placeholder" placeholder="Type to search..." ng-model="filter" ng-change="enterSearch()" ng-keydown="forceSearch($event)" prevent-enter-submit="" no-dirty-check="">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped" ng-hide="dashboardException">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Version</th>
                                <th>Target Framework</th>
                            </tr>
                        </thead>
                        <tbody ng-show="items.length > 0">
                            <tr ng-repeat="item in items">
                                <td>{{item.Id}}</td>
                                <td>{{item.Version}}</td>
                                <td>{{item.TargetFramework}}</td>
                            </tr>
                        </tbody>
                        <tbody ng-hide="items.length > 0">
                            <tr>
                                <td colspan="3">No packages found.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>